* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px){
.container{
    background: white;
    padding: 20px;
    font-family: "Poppins", system-ui;
    position: fixed;
    left: 10%;
    right: 10%;
    top: 10%;
}
.container .form .header1{
    padding: 20px;
    text-align: center;
}
.container .form .header3{
    padding: 2px;
    text-align: center;
    margin-bottom: 15px;
    display: none;
}
.container .form .password{
    display: none;
}
.container .form form{
    display: grid;
}
.container .alternative{
    text-align: center;
    font-size: 12px;
    width: 100%;
}
.container .form .btn2{
    display: none;
}
.container .form .btn2 .dashhh{
    color: rgb(30, 133, 102);
    text-decoration: none;
    color: white;
}
.container .form .alternative .log{
    color: rgb(30, 133, 102);
    text-decoration: none;
}
.container .form input {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 200;
    outline-color: #10a37f;
    outline-width: 1px;
    transition: 3ms;
}
.container .form input:hover {
    border: 1px solid #10a37f;
    outline-color:#10a37f;
    color: #10a37f;
}
.container .form button {
    padding: 10px;
    border: 1px solid #10a37f;
    background: #10a37f;
    border-radius: 6px;
    margin-bottom: 15px;
    color: white;
    transition: 3ms;
}
.container .form button:hover {
    background: #028e6b;
}
.container .or{
    text-align: center;
    margin-top: 20px;
}
.container .options .google button{
    display: flex;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container .options .google img{
    width: 22px;
    margin-right: 5px;
}
.container .options .microSoft button{
    display: flex;
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container .options .microSoft img{
    width: 20px;
    margin-right: 5px;
}
.container .options .apple button{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container .options .apple img{
    width: 22px;
    margin-right: 5px;
}
.container .options .text22{
    padding: 5px;
    text-decoration: none;
    color: black;
}
.container .options button {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 200;
    outline-color: #10a37f;
    outline-width: 1px;
    transition: 3ms;
}
.container .options button:hover {
    border: 1px solid #10a37f;
    outline-color:#10a37f;
    color: #10a37f;
    background: rgb(205, 205, 205);
}

.log-out{
    padding: 1rem;
    position: absolute;
    left: 85%;
    top: 3%;
    border-radius: 9px;
    border: none;
    color:lightblue;
}

/* <<<<<<< HEAD */
.log-out:hover{
    background: lightgray;
    color: red;
    font-weight: normal;
}








@media (max-width: 768px) {

    .first_container{
        display: flex;
        gap:2.7rem;
    }

    .arrow-down{
        display: flex;
        gap: 8px;
        cursor: pointer;
        margin-left: 9rem;
        margin-top: -1.45rem;
    }

    .dropdown-content{
        margin-top: 1rem;
        cursor: pointer;
        background-color: lightgray;
        width: fit-content;
        transition: background-color 0.3s ease;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin-left: 6rem;
        border-radius: 2rem;
        z-index: 10;
        display: none;
    }

    .Input_container{
        position: absolute;
        top: 100%;
        left:10%;
        width: 70%;
        /* border: 3px solid rebeccapurple; */
    }

    .input_subset{
        position: absolute;
        bottom: 15%;
        left:21%;
        width: 50%;
        display: grid;
        gap: 12px;
    }

    .heading{
        margin-bottom: 1rem;
        margin-left: 9rem;
    }

    .surprise-me-button {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 20px; */
        font-size: 16px;
        border: none;
        background-color: #f0f0f0;
        cursor: pointer;
        gap: 1rem;
        padding: 1.4rem;
        border-radius: 0.4rem;
        /* border: 4px solid red; */
    }

    .response_Icon{
        padding: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        top: 4.5rem;
        left: 35rem;
        border: none;
    }

    .dropdown-content{
        margin-top: 1rem;
        cursor: pointer;
        background-color: lightgray;
        width: fit-content;
        transition: background-color 0.3s ease;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 1.9rem;
        margin-left: 6rem;
        border-radius: 2rem;
    }

    .input{
        width: 100%;
        max-width: 100%;
        height: 100px;
        padding-top: 10px;
        resize: none;
    }

    .response_Icon{
        padding: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        top: 4.5rem;
        left: 30rem;
        border: none;
    }



}




@media (min-width: 600px) and (max-width: 767px) {
    .first_container{
        display: flex;
        gap:28rem;
    }

    .input_subset{
        position: absolute;
        bottom: 20%;
        left:23%;
        width: 50%;
        display: grid;
        gap: 12px;
        /* border: 4px solid green; */
    }

    .response_Icon{
        padding: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        top: 4.5rem;
        left: 22.5rem;
        border: none;
    }

    .heading{
        margin-bottom: 1rem;
        margin-left: 6rem;
    }

    .log-out{
        padding: 1rem;
        position: absolute;
        left: 85%;
        top: 100%;
        border-radius: 9px;
        border: none;
        color:lightblue;
    }


}




@media (min-width: 480px) and (max-width: 599px) {

    .first_container{
        display: flex;
        gap:25rem;
        /* border: 4px solid red; */
    }
 
    .heading{
        margin-bottom: 1rem;
        margin-left: 6rem;
        /* border: 4px solid red; */
    }

    .arrow-down{
        display: flex;
        gap: 8px;
        cursor: pointer;
        margin-left: 12rem;
        margin-top: -1.45rem;
    }

    .input_subset{
        position: absolute;
        bottom: 20%;
        left:29%;
        width: 50%;
        display: grid;
        gap: 12px;
        /* border: 4px solid green; */
    }

    .Input_container{
        position: absolute;
        top: 100%;
        left:5%;
        width: 90%;
        /* border: 3px solid rebeccapurple; */
    }
    
    .response_Icon{
        padding: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        top: 4.5rem;
        left: 18rem;
        border: none;
    }

    .log-out{
        padding: 1rem;
        position: absolute;
        left: 85%;
        top: 80%;
        border-radius: 9px;
        border: none;
        color:lightblue;
    }
  

}
































/* ======= */

.container2{
    background: white;
    padding: 20px;
    font-family: "Poppins", system-ui;
    position: fixed;
    left: 10%;
    right: 10%;
    top: 10%;
}
.container2 .form .header2{
    text-align: center;
    margin-bottom: 15px;
}
.container2 .form form{
    display: grid;
}
.container2 .alternative{
    text-align: center;
    font-size: 12px;
    width: 100%;
}
.container2 .alternative .log{
    color: rgb(30, 133, 102);
    text-decoration: none;
}
.container2 .form input {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 200;
    outline-color: #10a37f;
    outline-width: 1px;
    transition: 3ms;
}
.container2 .form input:hover {
    border: 1px solid #10a37f;
    outline-color:#10a37f;
    color: #10a37f;
}
.container2 .form .btn2 .dashhh{
    color: rgb(30, 133, 102);
    text-decoration: none;
    color: white;
}
.container2 .form button {
    padding: 10px;
    border: 1px solid #10a37f;
    background: #10a37f;
    border-radius: 6px;
    margin-bottom: 15px;
    color: white;
    transition: 3ms;
}
.container2 .form button:hover {
    background: #028e6b;
}
.container2 .or{
    text-align: center;
    margin-top: 20px;
}
.container2 .options .google button{
    display: flex;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container2 .options .google img{
    width: 22px;
    margin-right: 5px;
}
.container2 .options .microSoft button{
    display: flex;
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container2 .options .microSoft img{
    width: 20px;
    margin-right: 5px;
}
.container2 .options .apple button{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container2 .options .apple img{
    width: 22px;
    margin-right: 5px;
}
.container2 .options .text22{
    padding: 5px;
    text-decoration: none;
    color: black;
}
.container2 .options button {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 200;
    outline-color: #10a37f;
    outline-width: 1px;
    transition: 3ms;
}
.container2 .options button:hover {
    border: 1px solid #10a37f;
    outline-color:#10a37f;
    color: #10a37f;
    background: rgb(205, 205, 205);
}
}



@media only screen and (min-width: 768px){
    .container{
        background: white;
        padding: 20px;
        font-family: "Poppins", system-ui;
        position: fixed;
        left: 38%;
        right: 38%;
        top: 20%;
    }
    .container .form .header1{
        text-align: center;
        margin-bottom: 15px;
    }
    .container .form .header3{
        padding: 0px;
        text-align: center;
        margin-bottom: 15px;
        display: none;
    }
    .container .form .password{
        display: none;
    }
    .container .form .btn2{
        display: none;
    }
    .container .form form{
        display: grid;
    }
    .container .alternative{
        text-align: center;
        font-size: 12px;
        width: 100%;
    }
    .container .alternative .log{
        color: rgb(30, 133, 102);
        text-decoration: none;
    }
    .container .form .btn2 .dashhh{
        color: rgb(30, 133, 102);
        text-decoration: none;
        color: white;
    }
    .container .form input {
        padding: 15px;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 200;
        outline-color: #10a37f;
        outline-width: 1px;
        transition: 3ms;
    }
    .container .form input:hover {
        border: 1px solid #10a37f;
        outline-color:#10a37f;
    }
    .container .form button {
        padding: 14px;
        border: 1px solid #10a37f;
        background: #10a37f;
        border-radius: 6px;
        margin-bottom: 15px;
        color: white;
        transition: 3ms;
    }
    .container .form button:hover {
        background: #028e6b;
    }
    .container .form .cont{
        text-decoration: none;

    }
    .container .or{
        text-align: center;
        margin-top: 20px;
    }
    .container .options .google button{
        display: flex;
        width: 100%;
        margin-top: 18px;
        margin-bottom: 15px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container .options .google img{
        width: 22px;
        margin-right: 5px;
    }
    .container .options .microSoft button{
        display: flex;
        width: 100%;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container .options .microSoft img{
        width: 20px;
        margin-right: 5px;
    }
    .container .options .apple button{
        display: flex;
        width: 100%;
        margin-top: 10px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container .options .apple img{
        width: 22px;
        margin-right: 5px;
    }
    .container .options .text22{
        padding: 5px;
        text-decoration: none;
        color: black;
    }
    .container .options button {
        padding: 15px;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 200;
        outline-color: #10a37f;
        outline-width: 1px;
        transition: 3ms;
    }
    .container .options button:hover {
        border: 1px solid #10a37f;
        outline-color:#10a37f;
        color: #10a37f;
        background: rgb(205, 205, 205);
    }



    
    .container2{
        background: white;
        padding: 20px;
        font-family: "Poppins", system-ui;
        position: fixed;
        left: 38%;
        right: 38%;
        top: 20%;
    }
    .container2 .form .header2{
        margin-bottom: 15px;
        text-align: center;
    }
    .container2 .form form{
        display: grid;
    }
    .container2 .alternative{
        text-align: center;
        font-size: 12px;
        width: 100%;
    }
    .container2 .alternative .log{
        color: rgb(30, 133, 102);
        text-decoration: none;
    }
    .container2 .form input {
        padding: 15px;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 200;
        outline-color: #10a37f;
        outline-width: 1px;
        transition: 3ms;
    }
    .container2 .form .btn2 .dashhh{
        color: rgb(30, 133, 102);
        text-decoration: none;
        color: white;
    }
    .container2 .form input:hover {
        border: 1px solid #10a37f;
        outline-color:#10a37f;
        color: #10a37f;
    }
    .container2 .form button {
        padding: 14px;
        border: 1px solid #10a37f;
        background: #10a37f;
        border-radius: 6px;
        margin-bottom: 15px;
        color: white;
        transition: 3ms;
    }
    .container2 .form button:hover {
        background: #028e6b;
    }
    .container2 .or{
        text-align: center;
        margin-top: 20px;
    }
    .container2 .options .google button{
        display: flex;
        width: 100%;
        margin-top: 18px;
        margin-bottom: 15px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container2 .options .google img{
        width: 22px;
        margin-right: 5px;
    }
    .container2 .options .microSoft button{
        display: flex;
        width: 100%;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container2 .options .microSoft img{
        width: 20px;
        margin-right: 5px;
    }
    .container2 .options .apple button{
        display: flex;
        width: 100%;
        margin-top: 10px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container2 .options .apple img{
        width: 22px;
        margin-right: 5px;
    }
    .container2 .options .text22{
        padding: 5px;
        text-decoration: none;
        color: black;
    }
    .container2 .options button {
        padding: 15px;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 200;
        outline-color: #10a37f;
        outline-width: 1px;
        transition: 3ms;
    }
    .container2 .options button:hover {
        border: 1px solid #10a37f;
        outline-color:#10a37f;
        color: #10a37f;
        background: rgb(205, 205, 205);
    }

}
/* >>>>>>> 1e4bcc69a674b0f9222901b42a6b025ee507d9fb */
