*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: "Playfair Display", serif;
}

.wrapper{
    margin: 2rem;
    font-size: 12px;
}

.first_container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}   

.Input_container{
   position: absolute;
   top: 35%;
   left: 24%;
   width: 50%;
}

.heading{
    margin-bottom: 1rem;
    margin-left: 14rem;
}

.input{
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding-top: 10px;
  resize: none;
}

.icon-textarea{
    background: url(Icons/paperclip.png) no-repeat 10px center;
    padding-left: 40px;  
    padding-right: 40px;
    width: 100%;
    height: 65px;
    background-size: 20px 20px, 20px 20px;
    border-radius: 4rem;
    resize: none;   
    line-height: 1.5;
}

textarea {
    padding-top: 20px; 
}

.input_subset{
    position: absolute;
    bottom: 35%;
    left:30%;
    display: flex;
    gap: 10px;
}

.surprise-me-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    gap: 1rem;
    padding: 0.7rem;
    border-radius: 0.4rem;
}

.dropdown-content{
    margin-top: 1rem;
    cursor: pointer;
    background-color: lightgray;
    width: fit-content;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1.9rem;
    margin-left: 6rem;
    border-radius: 2rem;
}

.f_text{
    display: flex;
    gap: 2rem;
    margin: 16px 0;
}

.f_text:hover{
  background-color: lightcyan;
  border-radius: 6px;
}

.img_and_text{
    display: flex;
    gap: 12px;
}

.img_text{
    border-radius: 9px;
    height: 3.1vh;
    padding: 3px;
    border: none;
}

.text{
    line-height: 1.8rem;
}

.dropdown-content:hover{
    background-color: lightgray;
}

.arrow-down{
    display: flex;
    gap: 8px;
    cursor: pointer;
    margin-left: 6rem;
    margin-top: -1.45rem;
}

.arrow-down:hover{
    background-color: lightgray;
    width: fit-content;
}

.response_Icon{
    padding: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 4.5rem;
    left: 39.3rem;
    border: none;
}

#upgrade_btn{
    padding: 12px;
    border-radius: 1.5rem;
    border: none;
}

.upgradeBtn{
    margin-top: 1rem;
}

.log-out{
    padding: 1rem;
    position: absolute;
    left: 85%;
    top: 3%;
    border-radius: 9px;
    border: none;
    color:lightblue;
}

.log-out:hover{
    background: lightgray;
    color: red;
    font-weight: normal;
}








@media (max-width: 768px) {

    .first_container{
        display: flex;
        gap:2.7rem;
    }

    .arrow-down{
        display: flex;
        gap: 8px;
        cursor: pointer;
        margin-left: 9rem;
        margin-top: -1.45rem;
    }

    .dropdown-content{
        margin-top: 1rem;
        cursor: pointer;
        background-color: lightgray;
        width: fit-content;
        transition: background-color 0.3s ease;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin-left: 6rem;
        border-radius: 2rem;
        z-index: 10;
        display: none;
    }

    .Input_container{
        position: absolute;
        top: 100%;
        left:10%;
        width: 70%;
        /* border: 3px solid rebeccapurple; */
    }

    .input_subset{
        position: absolute;
        bottom: 15%;
        left:21%;
        width: 50%;
        display: grid;
        gap: 12px;
    }

    .heading{
        margin-bottom: 1rem;
        margin-left: 9rem;
    }

    .surprise-me-button {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 20px; */
        font-size: 16px;
        border: none;
        background-color: #f0f0f0;
        cursor: pointer;
        gap: 1rem;
        padding: 1.4rem;
        border-radius: 0.4rem;
        /* border: 4px solid red; */
    }

    .response_Icon{
        padding: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        top: 4.5rem;
        left: 35rem;
        border: none;
    }

    .dropdown-content{
        margin-top: 1rem;
        cursor: pointer;
        background-color: lightgray;
        width: fit-content;
        transition: background-color 0.3s ease;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 1.9rem;
        margin-left: 6rem;
        border-radius: 2rem;
    }

    .input{
        width: 100%;
        max-width: 100%;
        height: 100px;
        padding-top: 10px;
        resize: none;
    }

    .response_Icon{
        padding: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        top: 4.5rem;
        left: 30rem;
        border: none;
    }



}




@media (min-width: 600px) and (max-width: 767px) {
    .first_container{
        display: flex;
        gap:28rem;
    }

    .input_subset{
        position: absolute;
        bottom: 20%;
        left:23%;
        width: 50%;
        display: grid;
        gap: 12px;
        /* border: 4px solid green; */
    }

    .response_Icon{
        padding: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        top: 4.5rem;
        left: 22.5rem;
        border: none;
    }

    .heading{
        margin-bottom: 1rem;
        margin-left: 6rem;
    }

    .log-out{
        padding: 1rem;
        position: absolute;
        left: 85%;
        top: 100%;
        border-radius: 9px;
        border: none;
        color:lightblue;
    }


}




@media (min-width: 480px) and (max-width: 599px) {

    .first_container{
        display: flex;
        gap:25rem;
        /* border: 4px solid red; */
    }
 
    .heading{
        margin-bottom: 1rem;
        margin-left: 6rem;
        /* border: 4px solid red; */
    }

    .arrow-down{
        display: flex;
        gap: 8px;
        cursor: pointer;
        margin-left: 12rem;
        margin-top: -1.45rem;
    }

    .input_subset{
        position: absolute;
        bottom: 20%;
        left:29%;
        width: 50%;
        display: grid;
        gap: 12px;
        /* border: 4px solid green; */
    }

    .Input_container{
        position: absolute;
        top: 100%;
        left:5%;
        width: 90%;
        /* border: 3px solid rebeccapurple; */
    }
    
    .response_Icon{
        padding: 0.5rem;
        border-radius: 2rem;
        position: absolute;
        top: 4.5rem;
        left: 18rem;
        border: none;
    }

    .log-out{
        padding: 1rem;
        position: absolute;
        left: 85%;
        top: 80%;
        border-radius: 9px;
        border: none;
        color:lightblue;
    }
  

}
































